html,
body {
    margin: 0;
    padding: 0;
    background: #E5E5E5;
    font-family: var(--font-family);
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
}

.visualyHidden {
    position: absolute;
    overflow: hidden;
}

:root {
    --white: white;
    --blue: #1068EB;
    --font-family: "Roboto", sans-serif;
}
