.bannerInnerItem {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 20px auto 624px;
    gap: 20px;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.button {
    margin-left: 24px;
}

.item {
    padding-right: 24px;
}
